.footer-links {
    display: flex;
    gap: 50px;
    
}

.logo-footer img {
    height: 40px;
    width: auto;
    margin-bottom: 15px;
}

.footer-telegram {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}